
#root {
  flex-direction: column;
}

.post-enter {
  transform: translate(-350px);
}
.post-enter-active {
  opacity: 1;
  transform: translate(0);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transform: translate(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
}
.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
  margin-right: 3px;
}
.page__current {
  border: 1px solid salmon;
}

.navbar {
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  background-color: chartreuse;
}
.navbar__link {
  margin-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 24px;
  cursor: pointer;
}
.navbar__link:hover {
  opacity: .4;
}