
.post-enter {
  transform: translate(-350px);
}
.post-enter-active {
  opacity: 1;
  transform: translate(0);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transform: translate(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
}
.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
  margin-right: 3px;
}
.page__current {
  border: 1px solid salmon;
}